<section class="registro-user">
    <div class="wrapper">
        <!-- Va a englobar todo el formulario con la cabecera -->
        <div class="section-registro">
            <!-- Va a mostrar el título en la cabecera del componente -->
            <div class="header-registro">
                <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
                <span *ngIf="!editar" class="title">Registrar Materia</span>
                <span *ngIf="editar" class="title">Actualizar materia</span>
                <mat-icon class="icon-forward">arrow_forward</mat-icon>
            </div>
            <div class="body-registro">
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>NRC</mat-label>
                    <input matInput [(ngModel)]="materia.nrc" name="nrc" placeholder="NRC de la materia">
                </mat-form-field>
                <div *ngIf="errors.nrc" class="invalid-feedback">{{ errors.nrc }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Nombre de la materia</mat-label>
                    <input matInput [(ngModel)]="materia.nombre" placeholder="Escribe nombre de la materia">
                </mat-form-field>
                <div *ngIf="errors.nombre" class="invalid-feedback">{{ errors.nombre }}</div>
    
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Seccion</mat-label>
                    <input matInput [(ngModel)]="materia.seccion" placeholder="Escribe seccion">
                </mat-form-field>
                <div *ngIf="errors.seccion" class="invalid-feedback">{{ errors.seccion }}</div>
    
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Dias</mat-label>
                    <input matInput [(ngModel)]="materia.dias" placeholder="Escribe los dias de la materia">
                </mat-form-field>
                <div *ngIf="errors.dias" class="invalid-feedback">{{ errors.dias }}</div>
    
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Horario inicio</mat-label>
                    <input matInput [(ngModel)]="materia.horario_inicio" type="time" placeholder="Hora de inicio">
                </mat-form-field>
                <div *ngIf="errors.horario_inicio" class="invalid-feedback">{{ errors.horario_inicio }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Horario fin</mat-label>
                    <input matInput [(ngModel)]="materia.horario_fin" type="time" placeholder="Hora de termino">
                </mat-form-field>
                <div *ngIf="errors.horario_fin" class="invalid-feedback">{{ errors.horario_fin }}</div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Salon</mat-label>
                    <input matInput [(ngModel)]="materia.salon" placeholder="Escribe CURP">
                </mat-form-field>
                <div *ngIf="errors.salon" class="invalid-feedback">{{ errors.salon }}</div>

                <mat-form-field class="mat-select">
                    <mat-label>Selecciona programa educativo</mat-label>
                    <mat-select [(ngModel)]="materia.programa">
                      <mat-option value="option1">Ingenieria en ciencias de la computacion</mat-option>
                      <mat-option value="option2">Licenciatura en ciencias de la computacion</mat-option>
                      <mat-option value="option3">Ingenieria en tecnologias de la informacion</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="errors.programa" class="invalid-feedback">{{ errors.programa }}</div>

                <div class="section-buttons">
                    <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
                    <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
                    <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</section>